
/* navbar style */
.navbar{
    margin-top: -16px;
    width: 98%;
    height: 60px;
    background-color: black;
    color:#d6c6e9;
    padding:10px 1%;
    position: sticky;
    display: flex;
    align-self: center;
}

/* navbar heading */
.navbar span{
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive;
    margin-top: 16px;
}

/* navbar cover image */
.coverImage{
    height:45px;
    width: 45px;
    margin-right: 5px;
    margin-top: 15px;
    background-color: white;
    border-radius: 30%;
}